<ion-header>
  <ion-toolbar>
    <ion-title>Bible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" (click)="setBooks(oldBooks)">Old Testament</ion-col>
        <ion-col size="6" (click)="setBooks(newBooks)">New Testament</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-list>
      <ion-item *ngFor="let book of books" (click)="bookClick(book)">
        <ion-label>{{book}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
