<ion-header>
  <ion-toolbar>
    <ion-title>Bible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button (ionSelect)="setBooks(OLD_TESTAMENT_BOOKS)">
          <ion-label>Old Testament</ion-label>
        </ion-tab-button>
        <ion-tab-button (ionSelect)="setBooks(NEW_TESTAMENT_BOOKS)">
          <ion-label>New Testament</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
  <div>
    <ion-list>
      <ion-item *ngFor="let book of books" (click)="bookClick(book)">
        <ion-label>{{book}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
