<ion-header>
  <ion-toolbar>
    <ion-title>Bible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{today | date:'MMMM d'}}</ion-label>
  </ion-item>
  <ion-item *ngIf="randomVerse">
    <ion-label>{{getVerseTitle()}}</ion-label>
  </ion-item>
  <ion-item *ngIf="randomVerse">
    <ion-label>{{randomVerse.text}}</ion-label>
  </ion-item>
  <ion-item *ngIf="randomVerse" (click)="favoriteClick()">
    <!-- <ion-icon name="heart-empty"></ion-icon> -->
    <ion-icon name="{{favorites.isSaved(randomVerse) ? 'heart' : 'heart-outline'}}"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-button (click)="getVerseClick()">Get random verse</ion-button>
  </ion-item>
</ion-content>
